header {
   background-image: var(--stars);
   height: 120px;
   animation: stars 50s linear alternate-reverse infinite;
   position: relative;
   z-index: 2;
}
@keyframes stars {
   0% {
      background-position-x: -200px;
      background-position-y: -200px;
   }
   100% {
      background-position-x: 200px;
      background-position-y: 400px;
   }
}
.header-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2vw 5vw;

   nav {
      display: flex;
      align-items: center;
      gap: 2.5vw;
      position: relative;
      @include mq(mobile) {
         flex-direction: column;
      }
      a {
         padding: 20px 0;
         color: var(--contrast);
         text-transform: uppercase;
         font-size: 1.1rem;
      }
      .theme-switcher {
         font-size: 1.5rem;
         display: flex;
         align-items: center;
         gap: 1vw;
         svg {
            display: flex;
            transition: all 0.1s linear;
            cursor: pointer;
            width: 30px;
            height: 30px;
            height: auto;
            stroke: var(--contrast);
            transform: scale(1);
            &:hover {
               transform: scale(1.1);
            }
         }
      }
   }
   .mobile-toggle {
      display: none;
   }
   .user {
      .avatar {
         cursor: pointer;
         transform: scale(1);
         transition: 0.3s;
         &:hover {
            transform: scale(1.05);
         }
      }
      .user-manage {
         position: absolute;
         right: 0;
         margin-top: 10px;
         background-color: var(--orange);
         color: black;
         border-radius: 5px;
         .user-name {
            padding: 10px 15px;
            span {
               font-weight: bold;
            }
         }
         .error,
         .logout {
            background: black;
            color: white;
            text-align: center;
            padding: 8px 5px;
         }
         .logout {
            cursor: pointer;
            transition: 0.3s;
            &:hover {
               background: white;
               color: black;
            }
         }
         .login-form {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 10px;
            padding: 10px 15px;
            input {
               background: transparent !important;
               background-color: transparent !important;
               border: none;
               outline: none;
               border-bottom: 2px solid black;
               &::placeholder {
                  font-style: italic;
                  opacity: 0.4;
                  color: black;
               }
            }
            button {
               display: inline-block;
               width: 70px;
               margin: auto;
               background: white;
               border: none;
               outline: none;
               padding: 5px;
               cursor: pointer;
               font-family: var(--main-font);
               font-weight: 500;
               transition: 0.3s;
               &:hover {
                  color: white;
                  background-color: black;
               }
            }
         }
      }
   }
}
@include mq(mobile) {
   .header-wrapper {
      nav {
         position: fixed;
         top: 0;
         right: 0;
         height: 100vh;
         width: 100vw;
         background-color: var(--orange);
         z-index: 9;
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: 2rem;
         clip-path: circle(0%);
         clip-path: ellipse(0px 0px at 100% 0%);
         transition: 0.3s cubic-bezier(0.74, 0.24, 1, 0.51);
         a {
            font-size: 1.8rem;
         }
         &.open {
            clip-path: circle(60%);
            clip-path: ellipse(75vh 75vh at 90% 20%);
         }
      }
      .mobile-toggle {
         display: block;
         position: relative;
         font-size: 2rem;
         cursor: pointer;
         z-index: 10;
      }
   }
}
