header {
   background-image: url("/images/stars.svg");
   height: 120px;
}
.header-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;

   nav {
      display: flex;
      a {
         color: white;
         text-transform: uppercase;
         font-size: 1.1rem;
      }
   }
}
