header {
   background-image: url("/images/stars.svg");
   height: 120px;
   animation: stars 50s linear alternate-reverse infinite;
}
@keyframes stars {
   0% {
      background-position-x: -200px;
      background-position-y: -200px;
   }
   100% {
      background-position-x: 200px;
      background-position-y: 400px;
   }
}
.header-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;

   nav {
      display: flex;
      align-items: center;
      gap: 2.5vw;
      a {
         color: var(--contrast);
         text-transform: uppercase;
         font-size: 1.1rem;
      }
      .theme-switcher {
         font-size: 1.5rem;
         display: flex;
         align-items: center;
         gap: 1vw;
         svg {
            display: flex;
            transition: all 0.2s linear;
            cursor: pointer;
            width: 30px;
            height: 30px;
            height: auto;
            stroke: var(--text-color);
            transform: scale(1);
            &:hover {
               stroke: var(--orange);
               transform: scale(1.1);
            }
         }
      }
   }
}
