@import "reset";
@import "config";

body {
   font-family: var(--main-font);
   color: var(--text-color);
   //background-image: var(--bg-body);
   background-color: var(--bg-color);
   transition: background 0.5s;
   font-size: 18px;
}
h1,
h2,
h3,
h4,
h5 {
   font-family: var(--title-font);
   line-height: 1;
   color: white;
   margin: 0;
}
h1 {
   font-size: calc(2rem + 1vw);
   text-transform: uppercase;
   position: relative;
}
a {
   color: var(--orange);
   text-decoration: none;
   font-weight: 700;
}
.container {
   max-width: 1250px;
   margin: 0 auto;
   padding: 2vw 5vw;
}
.site-wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
main {
   flex-grow: 1;
   position: relative;
}

@import "header";
@import "home-hero";
@import "realisation-card";
